Repository YH-05/finance: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, marimo-convert

.pre-commit-config.yaml:

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(notebook_sample|src_sample)/
      - id: end-of-file-fixer
        exclude: ^(notebook_sample|src_sample)/|\.gitkeep$
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: ^(notebook_sample|src_sample|\.vscode_example)/
      - id: check-added-large-files
      - id: check-merge-conflict
        exclude: ^\.claude/commands/analyze-conflicts\.md$
      - id: debug-statements
        exclude: ^(notebook_sample|src_sample)/

  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        args: [--fix, --config=pyproject.toml]
        exclude: ^(notebook_sample|src_sample|src/.*/sample|src/preprocess)/
      - id: ruff-format
        exclude: ^(notebook_sample|src_sample|src/.*/sample|src/preprocess)/

  # Type checking
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright src tests
        language: system
        pass_filenames: false
        types: [python]

  # Security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]
        exclude: ^(notebook_sample|src_sample)/

  # Dependency vulnerability scanning
  - repo: https://github.com/pypa/pip-audit
    rev: v2.7.3
    hooks:
      - id: pip-audit
        # CVE-2026-0994: protobuf DoS vulnerability - no fix available yet (2026-01-25)
        args: [--desc, --fix, --ignore-vuln, CVE-2026-0994]

  # Secret detection (optional - uncomment if needed)
  # - repo: https://github.com/Yelp/detect-secrets
  #   rev: v1.5.0
  #   hooks:
  #     - id: detect-secrets
  #       args: [--baseline, .secrets.baseline]

  # Marimo notebook conversion
  - repo: local
    hooks:
      - id: marimo-convert
        name: marimo-convert
        entry: uv run python scripts/convert_notebooks.py
        language: system
        pass_filenames: false
        types: [jupyter]
        stages: [pre-commit]

  # Project synchronization check (pre-push)
  - repo: local
    hooks:
      - id: check-project-sync
        name: check-project-sync
        entry: uv run python scripts/check_project_sync.py
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true
        verbose: true

      - id: check-circular-deps
        name: check-circular-deps
        entry: uv run python scripts/check_circular_deps.py
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true
        verbose: true

docs(filing_nlp): 02 notebook の FinBERT ロードを直接実装に展開
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03_embedding_analysis.ipynb
  scripts/build_filing_nlp_notebooks.py
Due: pyright, marimo-convert

chore: notebook の Ruff format-on-save 有効化と関連ドキュメント追加
  analyst/research/CA_eval_20260226-2119_LRCX/Interview_after_Feedback.md
  docs/plan/2026-05-21_discussion-superpowers-integration.md
  docs/strategy/reference/A Half Century of Macro Momentum.pdf
  docs/strategy/reference/Decoding Equity Market Reactions to Macroeconomic News.pdf
  docs/strategy/reference/Federal Reserve Bank of New York Staff Reports.pdf
  docs/strategy/reference/Portable Alpha-Why Now.pdf
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03-2_embdding.ipynb
  pyproject.toml
  uv.lock
Due: marimo-convert

refactor(filing_nlp): 01 notebook を edgartools 新 API に移行
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
Due: marimo-convert

feat(filing_nlp): 03-2 notebook に gte-Qwen2 埋め込みデモを追加
  notebook/FILING_NLP/03-2_embdding.ipynb
Due: marimo-convert

feat(filing_nlp): 階層チャンキング notebook + edgartools 境界バグ議論メモ追加
  docs/plan/2026-05-22_discussion-edgartools-10k-boundary.md
  notebook/FILING_NLP/04_hierarchical_chunking.ipynb
Due: marimo-convert

feat(filing_nlp): gte-Qwen2 埋め込み notebook (05) + 04 のテーブル除外対応
  docs/plan/2026-05-22_discussion-filing-nlp-embedding.md
  notebook/FILING_NLP/04_hierarchical_chunking.ipynb
  notebook/FILING_NLP/05_embedding.ipynb
Due: marimo-convert

Create 2026-05-22_RAY Index.json
  notebook/US Index/2026-05-22_RAY Index.json
Due: none

Create 2026-05-22_RIY Index.json
  notebook/US Index/2026-05-22_RIY Index.json
Due: none

Update 2026-05-22_RAY Index.json
  notebook/US Index/2026-05-22_RAY Index.json
Due: none

Update 2026-05-22_RIY Index.json
  notebook/US Index/2026-05-22_RIY Index.json
Due: none

Add SOX Index data for semiconductor companies
  notebook/US Index/SOX Index
Due: none

Rename SOX Index to 2026-05-22_SOX Index
  notebook/US Index/2026-05-22_SOX Index
Due: none

Create 2026-05-22_SPX Index.json
  notebook/US Index/2026-05-22_SPX Index.json
Due: none

feat(regime-switching): 03 市場レジーム MS 回帰 notebook を追加
  notebook/REGIME_SWITCHING/03_market_regime_ms.ipynb
Due: marimo-convert

docs(plan): レジームスイッチングモデル notebook 実装プランを追加
  docs/superpowers/plans/2026-05-23-regime-switching-notebook.md
Due: none

docs(spec): レジームスイッチングモデル notebook 設計仕様書を追加
  docs/superpowers/specs/2026-05-23-regime-switching-notebook-design.md
Due: none

feat(regime-switching): fetch_sp500_weekly_returns を追加
  notebook/REGIME_SWITCHING/_helpers.py
  tests/notebook/regime_switching/test_helpers.py
Due: pyright

feat(regime-switching): japanize-matplotlib で日本語フォント対応
  notebook/REGIME_SWITCHING/01_data_preparation.ipynb
  notebook/REGIME_SWITCHING/02_economic_regime_hmm.ipynb
  notebook/REGIME_SWITCHING/03_market_regime_ms.ipynb
  notebook/REGIME_SWITCHING/04_comparison.ipynb
  notebook/REGIME_SWITCHING/_helpers.py
  pyproject.toml
  uv.lock
Due: pyright, marimo-convert

feat(regime-switching): plot_regime_overlay を追加し helpers 完成
  notebook/REGIME_SWITCHING/_helpers.py
  tests/notebook/regime_switching/test_helpers.py
Due: pyright

feat(regime-switching): load_fred_weekly を追加
  notebook/REGIME_SWITCHING/_helpers.py
  tests/notebook/regime_switching/test_helpers.py
Due: pyright

chore: add USREC FRED preset
  data/config/fred_series.json
Due: none

feat(regime-switching): _helpers.py の骨格とパス定数を追加
  notebook/REGIME_SWITCHING/_helpers.py
  tests/notebook/__init__.py
  tests/notebook/regime_switching/__init__.py
  tests/notebook/regime_switching/test_helpers.py
Due: pyright

docs(regime-switching): README と最終実行済み notebook を追加
  notebook/REGIME_SWITCHING/01_data_preparation.ipynb
  notebook/REGIME_SWITCHING/02_economic_regime_hmm.ipynb
  notebook/REGIME_SWITCHING/03_market_regime_ms.ipynb
  notebook/REGIME_SWITCHING/04_comparison.ipynb
  notebook/REGIME_SWITCHING/README.md
  pyproject.toml
  uv.lock
Due: marimo-convert

docs(regime-switching): 議論メモを追加し notebook を再実行更新
  docs/plan/2026-05-23_discussion-regime-switching-notebook.md
  notebook/REGIME_SWITCHING/01_data_preparation.ipynb
  notebook/REGIME_SWITCHING/02_economic_regime_hmm.ipynb
  notebook/REGIME_SWITCHING/03_market_regime_ms.ipynb
  notebook/REGIME_SWITCHING/04_comparison.ipynb
Due: marimo-convert

feat(regime-switching): 02 経済レジーム HMM notebook を追加
  notebook/REGIME_SWITCHING/02_economic_regime_hmm.ipynb
Due: marimo-convert

feat(regime-switching): 04 経済 vs 市場レジーム比較 notebook を追加
  notebook/REGIME_SWITCHING/04_comparison.ipynb
Due: marimo-convert

feat(regime-switching): 01_data_preparation notebook を追加
  .gitignore
  notebook/REGIME_SWITCHING/01_data_preparation.ipynb
Due: marimo-convert

feat(filing-nlp): パイプラインモジュールとパイロット notebook を追加
  notebook/FILING_NLP/01b_fetch_with_business.ipynb
  notebook/FILING_NLP/04_hierarchical_chunking.ipynb
  notebook/FILING_NLP/pipeline/__init__.py
  notebook/FILING_NLP/pipeline/config.py
  notebook/FILING_NLP/pipeline/extractor.py
  notebook/FILING_NLP/pipeline/rate_limiter.py
  notebook/FILING_NLP/pipeline/run_pilot.py
  notebook/FILING_NLP/pipeline/runner.py
  notebook/FILING_NLP/pipeline_pilot.ipynb
Due: pyright, marimo-convert

feat(regime-switching): transform_features (YoY+Zscore) を追加
  notebook/REGIME_SWITCHING/_helpers.py
  tests/notebook/regime_switching/test_helpers.py
Due: pyright

chore(regime-switching): hmmlearn 依存と FRED presets を追加
  data/config/fred_series.json
  notebook/REGIME_SWITCHING/data/.gitkeep
  pyproject.toml
  uv.lock
Due: none

feat(regime-switching): label_hmm_states を追加
  notebook/REGIME_SWITCHING/_helpers.py
  tests/notebook/regime_switching/test_helpers.py
Due: pyright

feat(filing-nlp): universe_builder.py 実装 + config.py 定数追記 + 単体テスト追加
  notebook/FILING_NLP/pipeline/config.py
  notebook/FILING_NLP/pipeline/universe_builder.py
  tests/notebook/FILING_NLP/__init__.py
  tests/notebook/FILING_NLP/test_universe_builder.py
Due: pyright

feat(filing-nlp): run_indices.py 実装 (run_pilot.py 汎用化, act-102)
  notebook/FILING_NLP/pipeline/run_indices.py
  tests/notebook/FILING_NLP/test_run_indices.py
Due: pyright

feat(filing-nlp): pipeline_indices_v1.ipynb 作成 (CLI ラッパー + 進捗 poll, act-103)
  notebook/FILING_NLP/pipeline_indices_v1.ipynb
Due: marimo-convert

feat(filing-nlp): embed_indices.py 実装 (gte-Qwen2 per-CIK shard embedding, act-105)
  notebook/FILING_NLP/pipeline/embed_indices.py
  tests/notebook/FILING_NLP/test_embed_indices.py
Due: pyright

refactor(filing-nlp): レビュー指摘修正 - utils.py 集約 + EDGAR_IDENTITY マスク + テスト追加
  notebook/FILING_NLP/pipeline/embed_indices.py
  notebook/FILING_NLP/pipeline/run_indices.py
  notebook/FILING_NLP/pipeline/universe_builder.py
  notebook/FILING_NLP/pipeline/utils.py
  tests/notebook/FILING_NLP/test_embed_indices.py
  tests/notebook/FILING_NLP/test_run_indices.py
Due: pyright

refactor(filing-nlp): MEDIUM レビュー指摘修正 - main 分割 + vectorize + テスト+16件
  notebook/FILING_NLP/pipeline/embed_indices.py
  notebook/FILING_NLP/pipeline/run_indices.py
  notebook/FILING_NLP/pipeline/universe_builder.py
  tests/notebook/FILING_NLP/test_embed_indices.py
  tests/notebook/FILING_NLP/test_run_indices.py
  tests/notebook/FILING_NLP/test_universe_builder.py
Due: pyright

fix(filing-nlp): CI失敗修正 - pyright型エラー + ruff TC003 + format
  notebook/FILING_NLP/pipeline/run_indices.py
  notebook/FILING_NLP/pipeline/universe_builder.py
  notebook/FILING_NLP/pipeline/utils.py
  tests/notebook/FILING_NLP/test_embed_indices.py
  tests/notebook/FILING_NLP/test_universe_builder.py
Due: pyright

ci(lint): pre-commit による Lint 失敗判定を Python/設定/docs スコープに限定
  .github/workflows/ci.yml
Due: none

style: ruff/ruff-format による既存 .py 16 ファイルの format 漏れ修正
  notebook/FILING_NLP/pipeline/extractor.py
  notebook/FILING_NLP/pipeline/run_pilot.py
  notebook/FILING_NLP/pipeline/runner.py
  notebook/NSE/scripts/build_nifty750_universe.py
  notebook/NSE/scripts/build_owner_review_sheet.py
  notebook/NSE/scripts/build_rev1_outside_review.py
  notebook/NSE/scripts/persist_and_classify.py
  notebook/NSE/scripts/persist_rev1_missing.py
  notebook/NSE/scripts/refetch_missing.py
  notebook/NSE/scripts/refetch_rev1_missing.py
  notebook/ca_strategy_phase6_analysis.py
  notebook/ca_strategy_us_only_analysis.py
  notebook/market_analysis_demo.py
  notebook/market_dashboard.py
  notebook/sector_analysis.py
  tests/market/nse/unit/test_xbrl.py
Due: pyright
