Repository YH-05/finance: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, marimo-convert

.pre-commit-config.yaml:

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(notebook_sample|src_sample)/
      - id: end-of-file-fixer
        exclude: ^(notebook_sample|src_sample)/|\.gitkeep$
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: ^(notebook_sample|src_sample|\.vscode_example)/
      - id: check-added-large-files
      - id: check-merge-conflict
        exclude: ^\.claude/commands/analyze-conflicts\.md$
      - id: debug-statements
        exclude: ^(notebook_sample|src_sample)/

  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        args: [--fix, --config=pyproject.toml]
        exclude: ^(notebook_sample|src_sample|src/.*/sample|src/preprocess)/
      - id: ruff-format
        exclude: ^(notebook_sample|src_sample|src/.*/sample|src/preprocess)/

  # Type checking
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright src tests
        language: system
        pass_filenames: false
        types: [python]

  # Security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]
        exclude: ^(notebook_sample|src_sample)/

  # Dependency vulnerability scanning
  - repo: https://github.com/pypa/pip-audit
    rev: v2.7.3
    hooks:
      - id: pip-audit
        # CVE-2026-0994: protobuf DoS vulnerability - no fix available yet (2026-01-25)
        args: [--desc, --fix, --ignore-vuln, CVE-2026-0994]

  # Secret detection (optional - uncomment if needed)
  # - repo: https://github.com/Yelp/detect-secrets
  #   rev: v1.5.0
  #   hooks:
  #     - id: detect-secrets
  #       args: [--baseline, .secrets.baseline]

  # Marimo notebook conversion
  - repo: local
    hooks:
      - id: marimo-convert
        name: marimo-convert
        entry: uv run python scripts/convert_notebooks.py
        language: system
        pass_filenames: false
        types: [jupyter]
        stages: [pre-commit]

  # Project synchronization check (pre-push)
  - repo: local
    hooks:
      - id: check-project-sync
        name: check-project-sync
        entry: uv run python scripts/check_project_sync.py
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true
        verbose: true

      - id: check-circular-deps
        name: check-circular-deps
        entry: uv run python scripts/check_circular_deps.py
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true
        verbose: true

docs(analyst): MCO CA評価のAN批判分析と根本原因診断を追加
  analyst/research/CA_eval_20260226-2059_MCO/Inverview_MCO_20260508.md
  analyst/research/CA_eval_20260226-2059_MCO/memo_eval_logic_diagnosis_20260508.md
  docs/plan/2026-05-08_discussion-mco-ca-eval-feedback.md
Due: none

docs(plan): yaml v0.5.0 検証 + 重要訂正 + コミット完了の議論メモを追加
  docs/plan/2026-05-08_yaml-v050-validation-summary.md
Due: none

docs(analyst): MTG メモ移動と AI ファンドコンセプトのリサーチ追加
  MAS4InvestmentTeam/memo/meeting/2026-04-14_millize-mtg.md
  MAS4InvestmentTeam/memo/meeting/2026-04-15_millize-mtg.md
  MAS4InvestmentTeam/memo/meeting/2026-05-01_millize-mtg.md
  analyst/memo/2026-05-06_AI_augmentation_research_for_fund_concept.md
  analyst/memo/2026-05-11_research-memo.md
  analyst/references/2023_Generative AI At Work.pdf
  analyst/references/2023_Navigating the Jagged Technological Frontier- Field Experimental Evidence of the Effects of Artificial Intelligence on Knowledge Worker Productivity and Quality.pdf
  analyst/references/2025_Towards Adaptive Knowledge Structuring by Multi-Agent Consensus.pdf
  docs/plan/2026-05-11_discussion-feedback-loop-recap.md
Due: none

docs(analyst): ファンドコンセプトの Fundamental Law 再構造化と7軸リサーチを追加
  analyst/memo/2026-05-06_AI_augmentation_research_for_fund_concept.md
  analyst/memo/2026-05-11_axes-integration-summary.md
  analyst/memo/2026-05-11_axis-A_fundamental-law-theory.md
  analyst/memo/2026-05-11_axis-B_ic-breadth-empirical.md
  analyst/memo/2026-05-11_axis-C_multi-agent-breadth.md
  analyst/memo/2026-05-11_axis-D_competitive-landscape.md
  analyst/memo/2026-05-11_axis-E_industry-ir-evidence.md
  analyst/memo/2026-05-11_axis-F_tacit-knowledge-reframing.md
  analyst/memo/2026-05-11_axis-G_jp-institutional-ir-criteria.md
  analyst/memo/2026-05-11_research-memo.md
  analyst/references/2004_Modern_Active_Portfolio_Theory_-_David_J_Buckle.pdf
  analyst/references/2024_BCG.pdf
  docs/plan/2026-05-11_discussion-fund-research-execution.md
  docs/plan/2026-05-11_discussion-fund-research-restructure.md
Due: none

feat(nse): owner classifier yaml v0.5.1 で OWNER_WEAK 0達成 + NIFTY 750 universe 整備
  .claude/settings.local.json
  data/config/nse_promoter_classifier.yaml
  docs/plan/2026-05-11_discussion-nse-owner-yaml-v051-plan.md
  docs/plan/2026-05-11_nse-owner-v051-implementation.md
  notebook/NSE/data/exports/nse/nifty750_universe.csv
  notebook/NSE/data/exports/nse/nifty750_universe_summary.md
  notebook/NSE/data/exports/nse/owner_companies.csv
  notebook/NSE/data/exports/nse/owner_review_sheet.csv
  notebook/NSE/data/exports/nse/owner_review_summary.md
  notebook/NSE/scripts/build_nifty750_universe.py
  notebook/NSE/scripts/build_owner_review_sheet.py
Due: pyright

chore(nse): 廃止ファイル整理 + 履歴注釈追加 + logic_system_review v0.5.1 化
  docs/plan/2026-05-11_discussion-nse-owner-housekeeping.md
  notebook/NSE/data/exports/nse/ARCHIVE_NOTES.md
  notebook/NSE/data/exports/nse/logic_system_review.md
  notebook/NSE/data/exports/nse/owners_coverage_and_false_positives.md
  notebook/NSE/data/exports/nse/rev1_diff_report.md
  notebook/NSE/scripts/persist_and_classify.py
  notebook/NSE/scripts/refetch_missing.py
  trash/2026-05-11_nse-owner-obsolete/_shareholding_detail.csv
  trash/2026-05-11_nse-owner-obsolete/_shareholdings.csv
  trash/2026-05-11_nse-owner-obsolete/yaml_extension_candidates.md
  trash/2026-05-11_nse-owner-obsolete/yaml_v0.5.0_evidence.md
  trash/2026-05-11_nse-owner-obsolete/yaml_v0.5.0_proposal.md
Due: pyright

docs(plan): 廃止ファイル経緯を docs/plan/ に配置 (trash は gitignore 除外)
  docs/plan/2026-05-11_obsolete-nse-files.md
Due: none

docs(nse): ARCHIVE_NOTES の廃止経緯リンクを docs/plan/ に修正
  notebook/NSE/data/exports/nse/ARCHIVE_NOTES.md
Due: none

refactor(nse): owner_companies.csv を廃止し nifty750_universe.csv に集約
  docs/plan/2026-05-11_discussion-nse-owner-clarifications-and-gaps.md
  docs/plan/2026-05-11_discussion-nse-owner-csv-consolidation.md
  docs/plan/2026-05-11_obsolete-nse-files.md
  notebook/NSE/data/exports/nse/ARCHIVE_NOTES.md
  notebook/NSE/data/exports/nse/logic_system_review.md
  notebook/NSE/data/exports/nse/nifty750_universe.csv
  notebook/NSE/data/exports/nse/nifty750_universe_summary.md
  notebook/NSE/data/exports/nse/owner_companies.csv
  notebook/NSE/scripts/build_nifty750_universe.py
  trash/2026-05-11_nse-owner-obsolete/owner_companies.csv
Due: pyright

Create owners_rev2.json
  notebook/NSE/data/cache/nse/owners_rev2.json
Due: none

Update owners_rev2.json
  notebook/NSE/data/cache/nse/owners_rev2.json
Due: none

docs(nse): オーナー企業ラベリング説明書を拡充
  notebook/NSE/docs/owner_labeling_methodology.md
Due: none

feat(nse): Stage1 (promoter≥10%) を実装、上司指定 dec-2026-04-16-002 をフル遵拠
  notebook/NSE/data/cache/nse/owners_universe_ai-judge.csv
  notebook/NSE/data/cache/nse/owners_universe_ai-judge.json
  notebook/NSE/data/exports/nse/nifty750_universe.csv
  notebook/NSE/data/exports/nse/nifty750_universe_summary.md
  notebook/NSE/docs/owner_labeling_methodology.md
  notebook/NSE/scripts/build_nifty750_universe.py
Due: pyright

Update owner_labeling_methodology.md
  notebook/NSE/docs/owner_labeling_methodology.md
Due: none

Add feedback report for MNST analysis
  analyst/research/CA_eval_20260226-2000_MNST/Feedback_MNST.md
Due: none

docs(analyst): MAS によるファンド運用の議論方法を追加 + 参考論文7本
  Pasted image 20260512122928.png
  Pasted image 20260512131015.png
  analyst/memo/2026-05-11_research-memo.md
  analyst/references/2023_Autonomous chemical research with large language models.pdf
  analyst/references/2025_Artificial Intelligence in Peer Review- Enhancing Efficiency While Preserving Integrity.pdf
  analyst/references/2025_CRISPR-GPT for agentic automation of gene-editing experiments.pdf
  analyst/references/2025_From Expert Systems to Generative Artificial Experts- A New Concept for Human-AI Collaboration in Knowledge Work.pdf
  analyst/references/2025_Self-driving lab discovers principles for steering spontaneous emission beyond conventional Fourier optics.pdf
  analyst/references/2026_Beyond Optimization- Exploring Novelty Discovery in Autonomous Experiments.pdf
  analyst/references/2026_Toward self-driving laboratory 2.0 for chemistry and materials discovery.pdf
  analyst/references/2026_Unveiling the Unspoken- A Conceptual Framework for AI-Enabled Tacit Knowledge Co-Evolution.pdf
Due: none

Update Feedback_LRCX.md
  analyst/research/CA_eval_20260226-2119_LRCX/Feedback_LRCX.md
Due: none

docs: LRCX フィードバック後インタビューと AN-FM パイプライン分離議論を追加
  analyst/research/CA_eval_20260226-2119_LRCX/Interview_after_Feedback.md
  docs/plan/2026-05-18_discussion-an-fm-pipeline-separation.md
Due: none

fix(.claude): hook コマンドを絶対パス + || true に修正
  .claude/settings.json
  docs/plan/2026-05-18_discussion-claude-hook-bugfix.md
Due: none

docs(analyst): LRCX Interview に Q9 (R&D力)・Q10 (寡占優位比較) + 時系列入力回答案を追記、MNST Interview を追加
  analyst/research/CA_eval_20260226-2000_MNST/Interview_after_Feedback.md
  analyst/research/CA_eval_20260226-2119_LRCX/Interview_after_Feedback.md
Due: none

docs(spec): 10-K/10-Q × FinBERT × Embedding 実験設計書を追加
  docs/superpowers/specs/2026-05-21-10kq-finbert-embedding-design.md
Due: none

docs(plan): 10-K/10-Q × FinBERT × Embedding 実装プランを追加
  docs/superpowers/plans/2026-05-21-10kq-finbert-embedding-plan.md
Due: none

build(deps): torch/transformers/sentence-transformers/umap-learn を追加
  pyproject.toml
Due: none

chore(gitignore): notebook/FILING_NLP/data/ を除外
  .gitignore
Due: none

feat(filing_nlp): _helpers.py 初版を追加
  notebook/FILING_NLP/_helpers.py
Due: pyright

style(filing_nlp): _helpers.load_finbert の冗長な torch import を削除
  notebook/FILING_NLP/_helpers.py
Due: pyright

feat(filing_nlp): notebook ビルダースクリプト + 3 .ipynb 生成
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03_embedding_analysis.ipynb
  scripts/build_filing_nlp_notebooks.py
Due: pyright, marimo-convert

fix(filing_nlp): BatchFetcher API を fetch_batch に修正
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03_embedding_analysis.ipynb
  scripts/build_filing_nlp_notebooks.py
Due: pyright, marimo-convert

fix(filing_nlp): edgartools と src/edgar の名前衝突を解消
  notebook/FILING_NLP/_helpers.py
Due: pyright

feat(.claude): superpowers の spec-reviewer 設計を /issue-implement と /plan-project に統合
  .claude/agents/feature-implementer.md
  .claude/agents/pr-spec-compliance.md
  .claude/skills/issue-implement-single/SKILL.md
  .claude/skills/plan-project/SKILL.md
  .claude/skills/plan-project/guide.md
Due: none

fix(filing_nlp): 01 Cell 1 で _helpers/edgar の sys.modules キャッシュ退避
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03_embedding_analysis.ipynb
  scripts/build_filing_nlp_notebooks.py
Due: pyright, marimo-convert

refactor(filing_nlp): edgartools 直接利用に切替し src/edgar 衝突を完全解消
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03_embedding_analysis.ipynb
  notebook/FILING_NLP/_helpers.py
  scripts/build_filing_nlp_notebooks.py
Due: pyright, marimo-convert

refactor(filing_nlp): edgartools TenK/TenQ ネイティブ accessor に置換
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03_embedding_analysis.ipynb
  notebook/FILING_NLP/_helpers.py
  scripts/build_filing_nlp_notebooks.py
Due: pyright, marimo-convert

docs(filing_nlp): 01 Cell 8 を FinBERT 直接実装に展開
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03_embedding_analysis.ipynb
  scripts/build_filing_nlp_notebooks.py
Due: pyright, marimo-convert

feat(filing_nlp): 01 に企業名 (ORG) エンティティ抽出セルを追加
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03_embedding_analysis.ipynb
  notebook/FILING_NLP/_helpers.py
  scripts/build_filing_nlp_notebooks.py
Due: pyright, marimo-convert

feat(filing_nlp): GLiNER Zero-shot NER を Cell 11 系として追加
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03_embedding_analysis.ipynb
  notebook/FILING_NLP/_helpers.py
  pyproject.toml
  scripts/build_filing_nlp_notebooks.py
  uv.lock
Due: pyright, marimo-convert

fix(filing_nlp): Cell 10a/11a に df_chunks 再ロード防御コードを追加
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03_embedding_analysis.ipynb
  scripts/build_filing_nlp_notebooks.py
Due: pyright, marimo-convert

fix(filing_nlp): GLiNER 2 種類の警告を解消 (deprecated + truncation)
  notebook/FILING_NLP/01_fetch_and_chunk.ipynb
  notebook/FILING_NLP/02_finbert_sentiment.ipynb
  notebook/FILING_NLP/03_embedding_analysis.ipynb
  scripts/build_filing_nlp_notebooks.py
Due: pyright, marimo-convert
