Repository YH-05/finance: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, marimo-convert

pyright:
  name: pyright
  entry: uv run pyright src tests
  language: system
  pass_filenames: false

marimo-convert:
  name: marimo-convert
  entry: uv run python scripts/convert_notebooks.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

deps: 全依存を upgrade して 21 件の既存 CVE を解消
  pyproject.toml
  uv.lock
Due: none

fix(type): scikit-learn PCA.components_ の Optional 型ヒントに対応
  src/analyze/reporting/us_treasury.py
  tests/factor/fixtures/generate_fixtures.py
Due: pyright

ci(test): PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python で chromadb 由来の collection error 回避
  .github/workflows/ci.yml
Due: none

ci(lint): pre-commit 失敗判定を Python/設定/docs スコープに限定 (#3952)
  .github/workflows/ci.yml
  notebook/FILING_NLP/pipeline/extractor.py
  notebook/FILING_NLP/pipeline/run_pilot.py
  notebook/FILING_NLP/pipeline/runner.py
  notebook/NSE/scripts/build_nifty750_universe.py
  notebook/NSE/scripts/build_owner_review_sheet.py
  notebook/NSE/scripts/build_rev1_outside_review.py
  notebook/NSE/scripts/persist_and_classify.py
  notebook/NSE/scripts/persist_rev1_missing.py
  notebook/NSE/scripts/refetch_missing.py
  notebook/NSE/scripts/refetch_rev1_missing.py
  notebook/ca_strategy_phase6_analysis.py
  notebook/ca_strategy_us_only_analysis.py
  notebook/market_analysis_demo.py
  notebook/market_dashboard.py
  notebook/sector_analysis.py
  pyproject.toml
  src/analyze/reporting/us_treasury.py
  tests/factor/fixtures/generate_fixtures.py
  tests/market/nse/unit/test_xbrl.py
  uv.lock
Due: pyright

feat(filing-nlp): indices_v1 パイプライン実装 (#3944 #3945 #3946 #3947) (#3949)
  notebook/FILING_NLP/pipeline/config.py
  notebook/FILING_NLP/pipeline/embed_indices.py
  notebook/FILING_NLP/pipeline/run_indices.py
  notebook/FILING_NLP/pipeline/universe_builder.py
  notebook/FILING_NLP/pipeline/utils.py
  notebook/FILING_NLP/pipeline_indices_v1.ipynb
  tests/notebook/FILING_NLP/__init__.py
  tests/notebook/FILING_NLP/test_embed_indices.py
  tests/notebook/FILING_NLP/test_run_indices.py
  tests/notebook/FILING_NLP/test_universe_builder.py
Due: pyright, marimo-convert

docs: Project #114 (FILING_NLP indices_v1) の計画書・議論メモと米国インデックス銘柄データを追加
  docs/plan/2026-05-25_discussion-filing-nlp-v2-strategy-c.md
  docs/plan/2026-05-25_discussion-prj114-implementation-completion.md
  docs/project/project-107/original-plan.md
  docs/project/project-107/project.md
  notebook/FILING_NLP/2026-05-22_RAY Index.json
  notebook/FILING_NLP/2026-05-22_RIY Index.json
  notebook/FILING_NLP/2026-05-22_SOX Index.json
  notebook/FILING_NLP/2026-05-22_SPX Index.json
  notebook/US Index/2026-05-22_SOX Index.json
Due: none

fix(rss): test_lock_manager の .lock 永続化 assertion を filelock 3.20+ 挙動に追従
  tests/rss/unit/storage/test_lock_manager.py
Due: pyright

feat(fraser): PR1 前半 基盤モジュール群 + .env.example + unit テスト
  .env.example
  src/market/fraser/__init__.py
  src/market/fraser/constants.py
  src/market/fraser/errors.py
  src/market/fraser/models.py
  src/market/fraser/rate_limiter.py
  src/market/fraser/types.py
  tests/market/fraser/__init__.py
  tests/market/fraser/conftest.py
  tests/market/fraser/unit/__init__.py
  tests/market/fraser/unit/test_constants.py
  tests/market/fraser/unit/test_errors.py
  tests/market/fraser/unit/test_models.py
  tests/market/fraser/unit/test_rate_limiter.py
  tests/market/fraser/unit/test_types.py
Due: pyright

fix(ci): data/raw・data/exports の symlink を git から削除 (#3963)
  .gitignore
  data/exports
  data/raw
Due: none

test(market): pandera SchemaErrors (複数形) を受け入れるよう test_schema を更新 (#3964)
  tests/market/asean_common/unit/test_schema.py
  tests/market/market_common/unit/test_schema.py
Due: pyright

feat(fraser): FraserSession + discover_titles CLI を追加 (#3957)
  data/config/fraser_titles.json
  src/market/fraser/__init__.py
  src/market/fraser/scripts/__init__.py
  src/market/fraser/scripts/discover_titles.py
  src/market/fraser/session.py
  tests/market/fraser/unit/test_session.py
Due: pyright

feat(fraser): PR2 FraserClient + FraserCache + FraserDownloader + parser
  src/market/fraser/__init__.py
  src/market/fraser/cache.py
  src/market/fraser/client.py
  src/market/fraser/downloader.py
  src/market/fraser/parser.py
  tests/market/fraser/unit/test_cache.py
  tests/market/fraser/unit/test_client.py
  tests/market/fraser/unit/test_downloader.py
  tests/market/fraser/unit/test_parser.py
Due: pyright

feat(fraser): PR3 FOMC Minutes MVP (BaseFraserFetcher + FOMCMinutesFetcher)
  src/market/fraser/README.md
  src/market/fraser/__init__.py
  src/market/fraser/fetchers/__init__.py
  src/market/fraser/fetchers/base.py
  src/market/fraser/fetchers/fomc.py
  tests/market/fraser/integration/__init__.py
  tests/market/fraser/integration/test_fraser_integration.py
  tests/market/fraser/unit/test_fetchers_base.py
  tests/market/fraser/unit/test_fetchers_fomc.py
Due: pyright

feat(fraser): PR4 前半 FOMC Statements + Press Conferences fetcher 追加
  src/market/fraser/__init__.py
  src/market/fraser/fetchers/__init__.py
  src/market/fraser/fetchers/fomc.py
  tests/market/fraser/integration/test_fraser_integration.py
  tests/market/fraser/unit/test_fetchers_fomc.py
Due: pyright

feat(market.fraser): Beige Book / FRB Speeches / MPR fetcher を追加し property テストを整備
  src/market/fraser/__init__.py
  src/market/fraser/fetchers/__init__.py
  src/market/fraser/fetchers/beige_book.py
  src/market/fraser/fetchers/monetary_policy.py
  src/market/fraser/fetchers/speeches.py
  tests/market/fraser/conftest.py
  tests/market/fraser/integration/test_fraser_integration.py
  tests/market/fraser/property/__init__.py
  tests/market/fraser/property/test_downloader_property.py
  tests/market/fraser/property/test_parser_property.py
  tests/market/fraser/property/test_rate_limiter_property.py
  tests/market/fraser/unit/test_fetchers_beige_book.py
  tests/market/fraser/unit/test_fetchers_monetary_policy.py
  tests/market/fraser/unit/test_fetchers_speeches.py
Due: pyright

docs(fraser): PR5 検証 demo notebook + README 運用情報更新
  notebook/FRASER/fraser_demo.ipynb
  src/market/fraser/README.md
Due: marimo-convert

fix(ci): Unit Tests 45件失敗を解消 (#3954 #3963 #3964) (#3965)
  .gitignore
  data/exports
  data/raw
  tests/market/asean_common/unit/test_schema.py
  tests/market/market_common/unit/test_schema.py
  tests/rss/unit/storage/test_lock_manager.py
Due: pyright

fix(fraser): PR レビュー指摘の HIGH 4件 + 主要 MEDIUM を修正 (#3967)
  src/market/fraser/client.py
  src/market/fraser/downloader.py
  src/market/fraser/fetchers/base.py
  src/market/fraser/fetchers/beige_book.py
  src/market/fraser/fetchers/fomc.py
  src/market/fraser/fetchers/monetary_policy.py
  src/market/fraser/fetchers/speeches.py
  src/market/fraser/session.py
  src/market/fraser/types.py
  tests/market/fraser/property/test_downloader_property.py
  tests/market/fraser/unit/test_downloader.py
  tests/market/fraser/unit/test_fetchers_beige_book.py
  tests/market/fraser/unit/test_fetchers_fomc.py
  tests/market/fraser/unit/test_fetchers_monetary_policy.py
  tests/market/fraser/unit/test_fetchers_speeches.py
  tests/market/fraser/unit/test_rate_limiter.py
  tests/market/fraser/unit/test_scripts_discover_titles.py
  tests/market/fraser/unit/test_session.py
Due: pyright

fix(fraser): PR レビュー指摘の残り MEDIUM/LOW を修正 (#3967)
  src/market/fraser/constants.py
  src/market/fraser/parser.py
  tests/market/fraser/property/test_fetchers_base_property.py
  tests/market/fraser/property/test_session_property.py
  tests/market/fraser/unit/test_fetchers_beige_book.py
  tests/market/fraser/unit/test_session.py
  tests/market/fraser/unit/test_types.py
Due: pyright

style(fraser): ruff-format fix for test_fetchers_beige_book.py (#3967)
  tests/market/fraser/unit/test_fetchers_beige_book.py
Due: pyright

refactor(fraser): PR レビュー残り MEDIUM 10件 + LOW 8件を実装 (#3967)
  src/market/fraser/client.py
  src/market/fraser/constants.py
  src/market/fraser/downloader.py
  src/market/fraser/fetchers/base.py
  src/market/fraser/fetchers/beige_book.py
  src/market/fraser/fetchers/fomc.py
  src/market/fraser/fetchers/monetary_policy.py
  src/market/fraser/fetchers/speeches.py
  src/market/fraser/models.py
  src/market/fraser/parser.py
  src/market/fraser/rate_limiter.py
  src/market/fraser/session.py
  src/market/fraser/types.py
  tests/market/fraser/conftest.py
  tests/market/fraser/property/test_downloader_property.py
  tests/market/fraser/unit/test_client.py
  tests/market/fraser/unit/test_downloader.py
  tests/market/fraser/unit/test_fetchers_base.py
  tests/market/fraser/unit/test_session.py
Due: pyright

docs(filing-nlp): indices_v1 議論メモ・パイロット結果・fraser プロジェクト計画を追加
  .claude/settings.local.json
  docs/plan/2026-05-25_discussion-filing-nlp-v2-pilot-results.md
  docs/plan/2026-05-25_discussion-indices-v1-step1.md
  docs/plan/2026-05-25_discussion-indices-v1-step2-launch.md
  docs/project/project-108/original-plan.md
  docs/project/project-108/project.md
  docs/strategy/reference/Life Cycles of Firm Disclosures.pdf
  notebook/FILING_NLP/pipeline/config.py
  notebook/FILING_NLP/pipeline/run_indices.py
  notebook/FILING_NLP/pipeline_indices_v1.ipynb
  notebook/FILING_NLP/pipeline_pilot.ipynb
  notebook/FILING_NLP/research idea.md
Due: pyright, marimo-convert

docs(plan): 2026-05-26 rss-lock-manager-filelock worktree クリーンアップ議論メモを追加
  docs/plan/2026-05-26_discussion-rss-lock-cleanup.md
Due: none

docs(plan): FILING_NLP Step2 1日目運用 + PC停止時の状態保全 議論メモを追加
  docs/plan/2026-05-26_step2-day1-shutdown-and-resume-plan.md
Due: none

feat(neo4j): 複数 PC 間の手動同期手順とスクリプトを追加
  docker-compose.yml
  docs/neo4j-sync-via-nas.md
  docs/plan/2026-05-26_discussion-neo4j-multi-pc-sync.md
  scripts/neo4j_sync.sh
Due: none

feat(neo4j): 複数 PC 間の手動同期手順とスクリプトを追加 (#3968)
  docker-compose.yml
  docs/neo4j-sync-via-nas.md
  docs/plan/2026-05-26_discussion-neo4j-multi-pc-sync.md
  scripts/neo4j_sync.sh
Due: none

docs(neo4j-sync): 起動待ちループの判定式を healthcheck ベースに修正
  docs/neo4j-sync-via-nas.md
Due: none

docs(neo4j-sync): 起動待ちループの判定式を healthcheck ベースに修正 (#3969)
  docs/neo4j-sync-via-nas.md
Due: none

feat(neo4j-sync): Claude Code hooks 連動の双方向同期を実装
  .claude/settings.json
  docs/neo4j-sync-via-nas.md
  docs/plan/2026-05-27_discussion-neo4j-bidirectional-sync.md
  scripts/migrate_author_ids.py
  scripts/neo4j_sync.sh
Due: pyright

feat(neo4j-sync): Claude Code hooks 連動の双方向同期を実装 (#3970)
  .claude/settings.json
  docs/neo4j-sync-via-nas.md
  docs/plan/2026-05-27_discussion-neo4j-bidirectional-sync.md
  scripts/migrate_author_ids.py
  scripts/neo4j_sync.sh
Due: pyright

docs(plan): FILING_NLP_v2 NAS同期実施記録 + 関連メモ更新
  docs/plan/2026-05-27_discussion-filing-nlp-v2-nas-sync.md
  docs/plan/2026-05-27_discussion-neo4j-bidirectional-sync.md
  notebook/FILING_NLP/pipeline/config.py
Due: pyright

Create Feedback_MSFT.md
  analyst/research/CA_eval_20260226-2105_MSFT/Feedback_MSFT.md
Due: none

docs(plan): SPX 完走スナップショット追加 + data/sqlite ディレクトリ削除
  data/sqlite
  docs/plan/2026-05-29_discussion-spx-completion-snapshot.md
Due: none

feat(filing-nlp): run_indices.py の checkpoint パスを run_id ベース化 (RAY 並行起動対応)
  docs/plan/2026-05-27_discussion-ray-parallel-launch.md
  notebook/FILING_NLP/pipeline/run_indices.py
Due: pyright

feat(edinet): launchd NAS sync TCC 失敗対策の手動マージスクリプト追加
  docs/plan/2026-05-27_discussion-edinet-launchd-nas-failure.md
  scripts/edinet_merge_to_nas.py
  scripts/sync_edinet_to_nas.sh
Due: pyright

feat(filing-nlp): SPX Step2 完走 + Mac mini resume 運用記録
  docs/plan/2026-05-27_discussion-step2-mac-mini-resume.md
  docs/plan/2026-05-28_discussion-step2-completion.md
  notebook/FILING_NLP/pipeline/config.py
Due: pyright

chore(logs): neo4j-autostart 運用ログを追加
  logs/neo4j-autostart-error.log
  logs/neo4j-autostart.log
Due: none

chore(notebook): news_scraping.ipynb の execution_count をクリア
  notebook/TEST/news_scraping.ipynb
Due: marimo-convert

Path conditions:
  pyright: any of: \.py$
  marimo-convert: any of: \.ipynb$
