Repository YH-05/finance: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, marimo-convert

.pre-commit-config.yaml:

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(notebook_sample|src_sample)/
      - id: end-of-file-fixer
        exclude: ^(notebook_sample|src_sample)/|\.gitkeep$
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: ^(notebook_sample|src_sample|\.vscode_example)/
      - id: check-added-large-files
      - id: check-merge-conflict
        exclude: ^\.claude/commands/analyze-conflicts\.md$
      - id: debug-statements
        exclude: ^(notebook_sample|src_sample)/

  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        args: [--fix, --config=pyproject.toml]
        exclude: ^(notebook_sample|src_sample|src/.*/sample|src/preprocess)/
      - id: ruff-format
        exclude: ^(notebook_sample|src_sample|src/.*/sample|src/preprocess)/

  # Type checking
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright src tests
        language: system
        pass_filenames: false
        types: [python]

  # Security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]
        exclude: ^(notebook_sample|src_sample)/

  # Dependency vulnerability scanning
  - repo: https://github.com/pypa/pip-audit
    rev: v2.7.3
    hooks:
      - id: pip-audit
        # CVE-2026-0994: protobuf DoS vulnerability - no fix available yet (2026-01-25)
        args: [--desc, --fix, --ignore-vuln, CVE-2026-0994]

  # Secret detection (optional - uncomment if needed)
  # - repo: https://github.com/Yelp/detect-secrets
  #   rev: v1.5.0
  #   hooks:
  #     - id: detect-secrets
  #       args: [--baseline, .secrets.baseline]

  # Marimo notebook conversion
  - repo: local
    hooks:
      - id: marimo-convert
        name: marimo-convert
        entry: uv run python scripts/convert_notebooks.py
        language: system
        pass_filenames: false
        types: [jupyter]
        stages: [pre-commit]

  # Project synchronization check (pre-push)
  - repo: local
    hooks:
      - id: check-project-sync
        name: check-project-sync
        entry: uv run python scripts/check_project_sync.py
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true
        verbose: true

      - id: check-circular-deps
        name: check-circular-deps
        entry: uv run python scripts/check_circular_deps.py
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true
        verbose: true

fix(nse): Phase 4 FK 違反バグ + SQLite DB 破損からの復旧
  notebook/NSE/data/cache/nse/nse_index.db
  notebook/NSE/nse_full_download.ipynb
Due: marimo-convert

fix(nse): 2025-10-31 tax. の axis/member 追加マッピング (Unknown 420件解消)
  src/market/nse/xbrl.py
  tests/market/nse/unit/test_xbrl.py
Due: pyright

docs(plan): 2026-04-14 NSE Phase 4 完了 + DB 破損復旧 + Unknown 解消の議論メモ
  docs/plan/2026-04-14_discussion-nse-phase4-completion.md
Due: none

chore(nse): Phase 3/4 実行結果を notebook にコミット
  notebook/NSE/nse_full_download.ipynb
Due: marimo-convert

chore: 古いリサーチメモと news/finance ログを削除
  docs/research_stocks/memo_20260310.md
  logs/finance-2026-02-27.log
  logs/finance-2026-03-17.log
  logs/news-workflow-2026-02-01.log
  logs/news-workflow-2026-02-02.log
  logs/news-workflow-2026-02-04.log
  logs/news-workflow-2026-02-05.log
  logs/news-workflow-2026-02-07.log
  logs/news-workflow-2026-02-09.log
  logs/news-workflow-2026-02-16.log
  logs/news-workflow-2026-02-27.log
  logs/news-workflow-2026-03-17.log
Due: none

chore: .playwright-mcp/ をリポジトリから削除
  .playwright-mcp/earnings_calendar_snapshot.md
Due: none

docs(analyst): Competitive Advantage ロジック再考メモを追加
  analyst/design/2026-04-13_Competitive Advantageロジック再考.md
Due: none

docs(analyst): 2026-04-14 MTG メモに暗黙知形式化の現状整理を追記
  analyst/memo/2026-04-14_MTG.md
Due: none

feat(nse): オーナー企業スクリーニング notebook + Promoter 分類 1 次情報調査
  .claude/settings.local.json
  analyst/memo/2026-04-14_MTG.md
  analyst/memo/2026-04-15_MTG.md
  analyst/recommendation/20150508_GOOGL US/textbox.md
  docs/plan/2026-04-16_discussion-nse-owner-company-filter.md
  notebook/NSE/nse_owner_company_filter.ipynb
  research/2026-04-16_nse_promoter_classification/research.md
  research/2026-04-16_nse_promoter_classification/sources/CompaniesAct2013.pdf
  research/2026-04-16_nse_promoter_classification/sources/CompaniesAct2013.txt
  research/2026-04-16_nse_promoter_classification/sources/CompaniesSpecAmdt_original.pdf
  research/2026-04-16_nse_promoter_classification/sources/CompaniesSpecification2ndAmndtRules.pdf
  research/2026-04-16_nse_promoter_classification/sources/Format_Reguln_31_1_31_2.pdf
  research/2026-04-16_nse_promoter_classification/sources/Format_Reguln_31_1_31_2.txt
  research/2026-04-16_nse_promoter_classification/sources/ICDR_2018_html_may2024.html
  research/2026-04-16_nse_promoter_classification/sources/ICDR_2018_mar2025.html
  research/2026-04-16_nse_promoter_classification/sources/ICDR_reg_html.html
  research/2026-04-16_nse_promoter_classification/sources/LODR_2015.txt
  research/2026-04-16_nse_promoter_classification/sources/LODR_2015_original.pdf
  research/2026-04-16_nse_promoter_classification/sources/MCA_Rules_Chapter1.pdf
  research/2026-04-16_nse_promoter_classification/sources/NSE_SHP_UR_format.pdf
  research/2026-04-16_nse_promoter_classification/sources/NSE_SHP_UR_format.txt
  research/2026-04-16_nse_promoter_classification/sources/SHPTaxonomy.zip
  research/2026-04-16_nse_promoter_classification/sources/Taxonomy.xlsx
  research/2026-04-16_nse_promoter_classification/sources/Taxonomy/META-INF/taxonomyPackage.xml
  research/2026-04-16_nse_promoter_classification/sources/Taxonomy/in-bse-shp-2022-09-30.xsd
  research/2026-04-16_nse_promoter_classification/sources/Taxonomy/in-bse-shp-cal-2022-09-30.xml
  research/2026-04-16_nse_promoter_classification/sources/Taxonomy/in-bse-shp-def-2022-09-30.xml
  research/2026-04-16_nse_promoter_classification/sources/Taxonomy/in-bse-shp-label-2022-09-30.xml
  research/2026-04-16_nse_promoter_classification/sources/Taxonomy/in-bse-shp-pre-2022-09-30.xml
  research/2026-04-16_nse_promoter_classification/sources/Taxonomy/in-bse-shp-ref-2022-09-30.xml
  research/2026-04-16_nse_promoter_classification/sources/Taxonomy/in-bse-shp-roles-2022-09-30.xsd
  research/2026-04-16_nse_promoter_classification/sources/Taxonomy/in-bse-shp-types-2022-09-30.xsd
  research/2026-04-16_nse_promoter_classification/sources/egazette_158025.pdf
  research/2026-04-16_nse_promoter_classification/sources/egazette_158025.txt
  research/2026-04-16_nse_promoter_classification/sources/sebi_gazette_1367922725672.pdf
  research/2026-04-16_nse_promoter_classification/sources/sebi_gazette_1367922725672.txt
Due: marimo-convert

Update print statement from 'Hello' to 'Goodbye'
  notebook/NSE/data/cache/nse/owners.json
Due: none

feat(nse): オーナー企業分析 notebook + 4 Tier owner_flag 体系 + AI 分類完了
  docs/plan/2026-04-17_discussion-nse-owner-analysis-impl.md
  notebook/NSE/_nse_owner_company_filter.ipynb
  notebook/NSE/data/cache/nse/owners_analysis.csv
  notebook/NSE/data/exports/nse/owner_candidates.csv
  notebook/NSE/data/exports/nse/shareholding_detail.csv
  notebook/NSE/data/exports/nse/shareholdings.csv
  notebook/NSE/data/exports/nse/xbrl_category_reference.md
  notebook/NSE/nse_full_download.ipynb
  notebook/NSE/nse_owner_analysis.ipynb
Due: marimo-convert

docs(analyst): CPRT 追加質問リストを 05_feedback に追加
  analyst/research/CA_eval_20260226-2046_CPRT/05_feedback/questions_for_analyst_Y.md
Due: none

docs(analyst): CPRT由来のDogma/KB改善ドラフト6件を 05_feedback に追加
  analyst/research/CA_eval_20260226-2125_ATCOA/05_feedback/README.md
  analyst/research/CA_eval_20260226-2125_ATCOA/05_feedback/dogma_market_growth_ca_cagr_condition.md
  analyst/research/CA_eval_20260226-2125_ATCOA/05_feedback/kb_claim_hierarchy.md
  analyst/research/CA_eval_20260226-2125_ATCOA/05_feedback/kb_evidence_direction_verification.md
  analyst/research/CA_eval_20260226-2125_ATCOA/05_feedback/kb_geographic_segmentation.md
  analyst/research/CA_eval_20260226-2125_ATCOA/05_feedback/kb_industry_macro_vs_firm_factor.md
  analyst/research/CA_eval_20260226-2125_ATCOA/05_feedback/kb_scale_vs_revenue_effect.md
Due: none

docs(plan): NIFTY 750 オーナー企業比率 Web 調査の議論メモを追加
  docs/plan/2026-04-17_discussion-nifty750-owner-research.md
Due: none

Create Feedback_LRCX.md
  analyst/research/CA_eval_20260226-2119_LRCX/Feedback_LRCX.md
Due: none

docs(nse): owners.json取得可否+偽陽性レポートを追加
  notebook/NSE/data/exports/nse/owners_coverage_and_false_positives.md
Due: none

docs(plan): NSE owners.json カバレッジ + FP42件議論メモを追加
  docs/plan/2026-04-27_discussion-nse-owners-coverage-and-fp-report.md
Due: none

feat(fred): 米国マクロ weekly 用に9系列追加 (GDPNow/小売/住宅/耐久財/コアPCE/ADP雇用)
  data/config/fred_series.json
Due: none

docs(plan): Neo4j ストレージのローカル移行議論メモを追加
  docs/plan/2026-04-27_discussion-neo4j-storage-migration.md
Due: none

Update print statement from 'Hello' to 'Goodbye'
  notebook/NSE/data/cache/nse/owners_rev1.json
Due: none

feat(nse): owners_rev1.json を ISIN ベース canonical 化、owners.json を上書き
  docs/plan/2026-04-30_discussion-nse-owners-rev1-evaluation.md
  notebook/NSE/data/cache/nse/owners.json
  notebook/NSE/data/cache/nse/owners_rev1.json
  notebook/NSE/data/exports/nse/owners_rev1_false_negatives.csv
  notebook/NSE/data/exports/nse/owners_rev1_false_positives.csv
Due: none

docs(plan): 2026-04-30 議論メモに ActionItem 進捗欄を追加
  docs/plan/2026-04-30_discussion-nse-owners-rev1-evaluation.md
Due: none

feat(nse): 既知一族リスト yaml を構築 (act-2026-04-30-003)
  data/config/nse_promoter_classifier.yaml
Due: none

feat(nse): owner_analysis に ISIN ベース照合 + ハイブリッドルール統合
  notebook/NSE/data/exports/nse/owners_reconciliation.csv
  notebook/NSE/data/exports/nse/owners_rev1_false_negatives.csv
  notebook/NSE/data/exports/nse/owners_rev1_false_positives.csv
  notebook/NSE/nse_owner_analysis.ipynb
Due: marimo-convert

feat(nse): Tier 1.5 corporate-vehicle rescue 実装 (act-A2)
  data/config/nse_promoter_classifier.yaml
  notebook/NSE/nse_owner_analysis.ipynb
Due: marimo-convert

feat(nse): A-1 (passive 識別) と A-3 (自然人検出救済) を実装
  notebook/NSE/nse_owner_analysis.ipynb
Due: marimo-convert

feat(nse): yaml v0.3.0 - AWL (Kuok/Wilmar) と GLAND (Guo/Fosun) を救済 (act-005)
  data/config/nse_promoter_classifier.yaml
Due: none

feat(nse): act-007 自動 diff レポート生成 (Cell 23 追加)
  notebook/NSE/data/exports/nse/rev1_diff_report.md
  notebook/NSE/nse_owner_analysis.ipynb
Due: marimo-convert

docs(plan): 進捗保存と act-009 を新規追加
  docs/plan/2026-04-30_discussion-nse-owners-rev1-evaluation.md
Due: none

Create Feedback_MCO.md
  analyst/research/CA_eval_20260226-2059_MCO/Feedback_MCO.md
Due: none

Update Feedback_MCO.md
  analyst/research/CA_eval_20260226-2059_MCO/Feedback_MCO.md
Due: none

Refactor feedback section in Feedback_MCO.md
  analyst/research/CA_eval_20260226-2059_MCO/Feedback_MCO.md
Due: none

feat(nse): yaml v0.5.0 — rev1 圏外 P0 10 件の web 裏取り判定を反映 (act-004)
  data/config/nse_promoter_classifier.yaml
  notebook/NSE/data/exports/nse/owner_review_rev1_outside.csv
  notebook/NSE/data/exports/nse/owner_review_sheet.csv
  notebook/NSE/data/exports/nse/owner_review_summary.md
  notebook/NSE/data/exports/nse/rev1_outside_review.csv
  notebook/NSE/data/exports/nse/rev1_outside_review.md
  notebook/NSE/data/exports/nse/yaml_extension_candidates.md
  notebook/NSE/data/exports/nse/yaml_v0.5.0_evidence.md
Due: none

docs(analyst): MTG メモと AI ファンドコンセプトのリサーチ集を追加
  analyst/memo/2026-04-15_MTG.md
  analyst/memo/2026-05-01_MTG.md
  analyst/memo/2026-05-06_AI_augmentation_research_for_fund_concept.md
Due: none
