Repository YH-05/finance: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, marimo-convert

.pre-commit-config.yaml:

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(notebook_sample|src_sample)/
      - id: end-of-file-fixer
        exclude: ^(notebook_sample|src_sample)/|\.gitkeep$
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: ^(notebook_sample|src_sample|\.vscode_example)/
      - id: check-added-large-files
      - id: check-merge-conflict
        exclude: ^\.claude/commands/analyze-conflicts\.md$
      - id: debug-statements
        exclude: ^(notebook_sample|src_sample)/

  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        args: [--fix, --config=pyproject.toml]
        exclude: ^(notebook_sample|src_sample|src/.*/sample|src/preprocess)/
      - id: ruff-format
        exclude: ^(notebook_sample|src_sample|src/.*/sample|src/preprocess)/

  # Type checking
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright src tests
        language: system
        pass_filenames: false
        types: [python]

  # Security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]
        exclude: ^(notebook_sample|src_sample)/

  # Dependency vulnerability scanning
  - repo: https://github.com/pypa/pip-audit
    rev: v2.7.3
    hooks:
      - id: pip-audit
        # CVE-2026-0994: protobuf DoS vulnerability - no fix available yet (2026-01-25)
        args: [--desc, --fix, --ignore-vuln, CVE-2026-0994]

  # Secret detection (optional - uncomment if needed)
  # - repo: https://github.com/Yelp/detect-secrets
  #   rev: v1.5.0
  #   hooks:
  #     - id: detect-secrets
  #       args: [--baseline, .secrets.baseline]

  # Marimo notebook conversion
  - repo: local
    hooks:
      - id: marimo-convert
        name: marimo-convert
        entry: uv run python scripts/convert_notebooks.py
        language: system
        pass_filenames: false
        types: [jupyter]
        stages: [pre-commit]

  # Project synchronization check (pre-push)
  - repo: local
    hooks:
      - id: check-project-sync
        name: check-project-sync
        entry: uv run python scripts/check_project_sync.py
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true
        verbose: true

      - id: check-circular-deps
        name: check-circular-deps
        entry: uv run python scripts/check_circular_deps.py
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true
        verbose: true

feat(etfcom): CLI エントリポイントと launchd plist を追加
  data/config/etfcom_tickers.json
  scripts/com.quants.etfcom-daily.plist
  scripts/com.quants.etfcom-monthly.plist
  scripts/com.quants.etfcom-weekly.plist
  src/market/etfcom/__main__.py
  src/market/etfcom/cli.py
  tests/market/etfcom/unit/test_cli.py
Due: pyright

fix(market/etfcom): ruff lint エラーを修正（TC003, SIM117, I001）
  tests/market/etfcom/unit/test_cli.py
Due: pyright

feat(market): asean_common を market_common にリネームし India (NSE/BSE) を追加
  docs/design/asean-india-integration.md
  src/market/__init__.py
  src/market/asean_common/_utils.py
  src/market/asean_common/constants.py
  src/market/asean_common/errors.py
  src/market/asean_common/screener.py
  src/market/asean_common/storage.py
  src/market/asean_common/types.py
  src/market/market_common/__init__.py
  src/market/market_common/_utils.py
  src/market/market_common/constants.py
  src/market/market_common/errors.py
  src/market/market_common/screener.py
  src/market/market_common/storage.py
  src/market/market_common/types.py
  tests/market/market_common/__init__.py
  tests/market/market_common/conftest.py
  tests/market/market_common/property/__init__.py
  tests/market/market_common/property/test_types.py
  tests/market/market_common/property/test_utils.py
  tests/market/market_common/unit/__init__.py
  tests/market/market_common/unit/test_constants.py
  tests/market/market_common/unit/test_errors.py
  tests/market/market_common/unit/test_init.py
  tests/market/market_common/unit/test_schema.py
  tests/market/market_common/unit/test_screener.py
  tests/market/market_common/unit/test_storage.py
  tests/market/market_common/unit/test_types.py
Due: pyright

feat(embedding): project-79 登録 - ローカル埋め込みバックエンド統合
  docs/project/project-79/original-plan.md
  docs/project/project-79/project.md
Due: none

fix(scripts): bandit B405/B314 を nosec で抑制
  scripts/nse_parse_xbrl.py
Due: pyright

fix(security): cryptography・marimo の脆弱性対応
  pyproject.toml
  uv.lock
Due: none

[Wave3] market_common パッケージ新設・NSE/BSE enum 追加 (Issue #3900) (#3924)
  docs/design/asean-india-integration.md
  pyproject.toml
  scripts/nse_parse_xbrl.py
  src/market/__init__.py
  src/market/asean_common/_utils.py
  src/market/asean_common/constants.py
  src/market/asean_common/errors.py
  src/market/asean_common/screener.py
  src/market/asean_common/storage.py
  src/market/asean_common/types.py
  src/market/market_common/__init__.py
  src/market/market_common/_utils.py
  src/market/market_common/constants.py
  src/market/market_common/errors.py
  src/market/market_common/screener.py
  src/market/market_common/storage.py
  src/market/market_common/types.py
  tests/market/market_common/__init__.py
  tests/market/market_common/conftest.py
  tests/market/market_common/property/__init__.py
  tests/market/market_common/property/test_types.py
  tests/market/market_common/property/test_utils.py
  tests/market/market_common/unit/__init__.py
  tests/market/market_common/unit/test_constants.py
  tests/market/market_common/unit/test_errors.py
  tests/market/market_common/unit/test_init.py
  tests/market/market_common/unit/test_schema.py
  tests/market/market_common/unit/test_screener.py
  tests/market/market_common/unit/test_storage.py
  tests/market/market_common/unit/test_types.py
  uv.lock
Due: pyright

chore(notebook): news_scraping ノートブックを追加
  notebook/TEST/news_scraping.ipynb
Due: marimo-convert

fix(cache): キャッシュDBをローカルに分離し、launchdメンテナンス実施
  docs/plan/2026-04-12_discussion-launchd-maintenance.md
  scripts/collect-news.sh
  scripts/com.finance.news-collector.plist
  scripts/com.quants.polymarket-collect.plist
  src/market/cache/cache.py
  tests/market/unit/cache/test_cache.py
Due: pyright

feat(market/nse): corporate-share-holdings 基盤を constants/types に追加 (Wave1)
  src/market/nse/constants.py
  src/market/nse/types.py
  tests/market/nse/unit/test_constants.py
  tests/market/nse/unit/test_types.py
Due: pyright

feat(market/nse): xbrl.py モジュールと XBRL サンプル fixture を新設 (#3926)
  src/market/nse/xbrl.py
  tests/market/nse/fixtures/xbrl_sample.xml
  tests/market/nse/unit/test_xbrl.py
Due: pyright

fix(market/nse/xbrl): ruff lint errors を修正 (import order, B017)
  src/market/nse/xbrl.py
  tests/market/nse/unit/test_xbrl.py
Due: pyright

feat(nse/parsers): parse_corporate_shareholding を追加 (Issue #3927)
  src/market/nse/__init__.py
  src/market/nse/parsers.py
  tests/market/nse/unit/test_parse_corporate_shareholding.py
  tests/market/nse/unit/test_parsers.py
Due: pyright

feat(nse): ShareholdingCollector 実装とパッケージエクスポート (#3928)
  src/market/nse/__init__.py
  src/market/nse/collectors/__init__.py
  src/market/nse/collectors/share_holding.py
  tests/market/nse/unit/test_parse_corporate_shareholding.py
  tests/market/nse/unit/test_shareholding_collector.py
Due: pyright

style(nse): SIM117 修正 - 入れ子with文を単一with文に統合
  tests/market/nse/unit/test_shareholding_collector.py
Due: pyright

test(nse): parse_corporate_shareholding のユニットテストを追加 (#3930)
  tests/market/nse/unit/test_parsers.py
Due: pyright

test(nse): ShareholdingCollector ユニットテスト追加 (test_share_holding_collector.py)
  tests/market/nse/unit/test_share_holding_collector.py
Due: pyright

docs(nse): nse_full_download.ipynb + README + DEPRECATED コメント追加 (Issue #3932)
  notebook/NSE/README.md
  notebook/NSE/nse_full_download.ipynb
  scripts/nse_index_shareholding.py
  scripts/nse_parse_xbrl.py
Due: pyright, marimo-convert

fix(nse): PRレビュー指摘を修正 - defusedxml, namespace O(1), テスト品質
  src/market/nse/collectors/share_holding.py
  src/market/nse/parsers.py
  src/market/nse/xbrl.py
  tests/market/nse/unit/test_parsers.py
  tests/market/nse/unit/test_share_holding_collector.py
  tests/market/nse/unit/test_shareholding_collector.py
  tests/market/nse/unit/test_xbrl.py
Due: pyright

fix(nse): ラウンド2指摘を修正 - ALLOWED_HOSTS多層防御・テストアサーション改善
  src/market/nse/collectors/share_holding.py
  tests/market/nse/unit/test_shareholding_collector.py
Due: pyright

refactor(nse/xbrl): 名前空間定数を統一しヘルパー関数に抽出
  src/market/nse/constants.py
  src/market/nse/xbrl.py
  tests/market/nse/unit/test_xbrl.py
Due: pyright

fix(nse): ログセキュリティ改善とHypothesisプロパティテスト追加
  src/market/nse/collectors/share_holding.py
  src/market/nse/session.py
  tests/market/nse/property/test_parsers_property.py
  tests/market/nse/property/test_types_property.py
  tests/market/nse/unit/test_types.py
Due: pyright

refactor(notebook/nse): executemany バッチ化とスキーマ検証を追加
  notebook/NSE/nse_full_download.ipynb
  src/market/nse/constants.py
  src/market/nse/xbrl.py
  tests/market/nse/unit/test_xbrl.py
Due: pyright, marimo-convert

[Wave1-4] NSE: corporate-share-holdings 全実装 (#3925-#3932) (#3933)
  notebook/NSE/README.md
  notebook/NSE/nse_full_download.ipynb
  scripts/nse_index_shareholding.py
  scripts/nse_parse_xbrl.py
  src/market/nse/__init__.py
  src/market/nse/collectors/__init__.py
  src/market/nse/collectors/share_holding.py
  src/market/nse/constants.py
  src/market/nse/parsers.py
  src/market/nse/session.py
  src/market/nse/types.py
  src/market/nse/xbrl.py
  tests/market/nse/fixtures/xbrl_sample.xml
  tests/market/nse/property/test_parsers_property.py
  tests/market/nse/property/test_types_property.py
  tests/market/nse/unit/test_constants.py
  tests/market/nse/unit/test_parse_corporate_shareholding.py
  tests/market/nse/unit/test_parsers.py
  tests/market/nse/unit/test_shareholding_collector.py
  tests/market/nse/unit/test_types.py
  tests/market/nse/unit/test_xbrl.py
Due: pyright, marimo-convert

docs(project-106): 議論メモと project.md を追加
  docs/plan/2026-04-13_discussion-nse-full-download-progress.md
  docs/project/project-106/original-plan.md
  docs/project/project-106/project.md
Due: none

docs(plan): NSE 実行可能性確認と Neo4j I/O 障害復旧の議論メモを追加
  docs/plan/2026-04-13_discussion-nse-status-and-neo4j-recovery.md
Due: none

chore(nse): notebook 改善と ipywidgets 追加で tqdm.notebook のエラーを解消
  notebook/NSE/nse_full_download.ipynb
  pyproject.toml
  uv.lock
Due: marimo-convert

chore(nse): NSE index SQLite DB を追跡対象に追加
  .gitignore
  notebook/NSE/data/cache/nse/nse_index.db
Due: none

Create Feedback_LLY.md
  analyst/research/CA_eval_20260226-2021_LLY/Feedback_LLY.md
Due: none

Update Feedback_LLY.md
  analyst/research/CA_eval_20260226-2021_LLY/Feedback_LLY.md
Due: none

fix(nse): BSE XBRL タクソノミ 2025-10-31 対応と Phase 4 並列化/レジューム
  notebook/NSE/nse_full_download.ipynb
  src/market/nse/constants.py
  src/market/nse/xbrl.py
  tests/market/nse/unit/test_constants.py
  tests/market/nse/unit/test_xbrl.py
Due: pyright, marimo-convert

test(nse): 2025-05-31/2025-10-31 XBRL fixture + 未知タクソノミ警告機構を追加
  src/market/nse/xbrl.py
  tests/market/nse/fixtures/xbrl_sample_2025_05_31.xml
  tests/market/nse/fixtures/xbrl_sample_2025_10_31.xml
  tests/market/nse/unit/test_xbrl.py
Due: pyright

docs(plan): 2026-04-14 NSE XBRL タクソノミ対応の議論メモを追加
  docs/plan/2026-04-14_discussion-nse-xbrl-taxonomy-fix.md
Due: none

Create 2026-04-14_MTG.md
  analyst/memo/2026-04-14_MTG.md
Due: none

feat(nse): CorporateShareHolding.to_normalized_pcts で pct 形式を自動正規化
  notebook/NSE/nse_full_download.ipynb
  src/market/nse/types.py
  tests/market/nse/unit/test_types.py
Due: pyright, marimo-convert
