Repository YH-05/finance: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, marimo-convert

.pre-commit-config.yaml:

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(notebook_sample|src_sample)/
      - id: end-of-file-fixer
        exclude: ^(notebook_sample|src_sample)/|\.gitkeep$
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: ^(notebook_sample|src_sample|\.vscode_example)/
      - id: check-added-large-files
      - id: check-merge-conflict
        exclude: ^\.claude/commands/analyze-conflicts\.md$
      - id: debug-statements
        exclude: ^(notebook_sample|src_sample)/

  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        args: [--fix, --config=pyproject.toml]
        exclude: ^(notebook_sample|src_sample|src/.*/sample|src/preprocess)/
      - id: ruff-format
        exclude: ^(notebook_sample|src_sample|src/.*/sample|src/preprocess)/

  # Type checking
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright src tests
        language: system
        pass_filenames: false
        types: [python]

  # Security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]
        exclude: ^(notebook_sample|src_sample)/

  # Dependency vulnerability scanning
  - repo: https://github.com/pypa/pip-audit
    rev: v2.7.3
    hooks:
      - id: pip-audit
        # CVE-2026-0994: protobuf DoS vulnerability - no fix available yet (2026-01-25)
        args: [--desc, --fix, --ignore-vuln, CVE-2026-0994]

  # Secret detection (optional - uncomment if needed)
  # - repo: https://github.com/Yelp/detect-secrets
  #   rev: v1.5.0
  #   hooks:
  #     - id: detect-secrets
  #       args: [--baseline, .secrets.baseline]

  # Marimo notebook conversion
  - repo: local
    hooks:
      - id: marimo-convert
        name: marimo-convert
        entry: uv run python scripts/convert_notebooks.py
        language: system
        pass_filenames: false
        types: [jupyter]
        stages: [pre-commit]

  # Project synchronization check (pre-push)
  - repo: local
    hooks:
      - id: check-project-sync
        name: check-project-sync
        entry: uv run python scripts/check_project_sync.py
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true
        verbose: true

      - id: check-circular-deps
        name: check-circular-deps
        entry: uv run python scripts/check_circular_deps.py
        language: system
        pass_filenames: false
        stages: [pre-push]
        always_run: true
        verbose: true

style: pre-commit が検出した既存ファイルの整形を反映
  .playwright-mcp/page-2026-05-25T06-34-26-819Z.yml
  notebook/GEP_Quality-Growth/prepare_data.py
  scripts/edinet_merge_to_nas.py
Due: pyright

ci: pip-audit に pip/aiohttp/chromadb 脆弱性の ignore を追加
  .github/workflows/ci.yml
Due: none

feat(news_scraper): Reuters ニューススクレイパー mode A を追加 (#3971)
  .github/workflows/ci.yml
  .playwright-mcp/page-2026-05-25T06-34-26-819Z.yml
  docs/plan/2026-06-10_reuters-scraping-design.md
  notebook/GEP_Quality-Growth/prepare_data.py
  scripts/edinet_merge_to_nas.py
  src/news_scraper/__init__.py
  src/news_scraper/reuters.py
  tests/news_scraper/integration/test_reuters_integration.py
  tests/news_scraper/property/test_reuters_property.py
  tests/news_scraper/unit/test_reuters.py
Due: pyright

docs(plan): Reuters mode A の議論メモを追加
  docs/plan/2026-06-10_discussion-reuters-news-scraper.md
Due: none

docs(plan): Reuters mode B 調査の議論メモを追加
  docs/plan/2026-06-10_discussion-reuters-mode-b-investigation.md
Due: none

feat(notebook): FRASER FOMC 4種文書コーパス構築スクリプトを追加
  .gitignore
  docs/plan/2026-06-10_discussion-fraser-fomc-corpus.md
  notebook/FRASER/data/fomc_inventory.csv
  notebook/FRASER/fomc_corpus.py
Due: pyright

feat(notebook): FRASER FOMCコーパスにPoiT変換と記者会見PDF一括取得を追加
  .gitignore
  docs/plan/2026-06-10_discussion-fraser-fomc-corpus.md
  docs/plan/2026-06-11_discussion-fraser-presconf-pdf.md
  notebook/FRASER/data/fomc_inventory.csv
  notebook/FRASER/fomc_corpus.py
Due: pyright

Create Feedback_ORLY.md
  analyst/research/CA_eval_20260226-2119_VRSK/Feedback_ORLY.md
Due: none

Update Feedback_ORLY.md
  analyst/research/CA_eval_20260226-2119_VRSK/Feedback_ORLY.md
Due: none

Create Feedback_ORLY.md
  analyst/research/CA_eval_20260226-2001_ORLY/Feedback_ORLY.md
Due: none

Create Feedback_VRSK.md
  analyst/research/CA_eval_20260226-2119_VRSK/Feedback_VRSK.md
Due: none

Create Feedback_POOL.md
  analyst/research/CA_eval_20260226-2105_POOL/Feedback_POOL.md
Due: none

Update Feedback_POOL.md
  analyst/research/CA_eval_20260226-2105_POOL/Feedback_POOL.md
Due: none

chore: CLAUDE.md 整形と CA_eval 成果物の配置修正
  .claude/settings.local.json
  CLAUDE.md
  analyst/research/CA_eval_20260226-2001_ORLY/Interview_after_Feedback.md
  analyst/research/CA_eval_20260226-2119_VRSK/Feedback_ORLY.md
Due: none

fix(nse): 基準日より後に上場した銘柄を universe から除外 (AGL)
  notebook/NSE/data/exports/nse/nifty750_universe_20260630.csv
  notebook/NSE/data/exports/nse/nifty750_universe_summary_20260630.md
  notebook/NSE/data/exports/nse/post_cutoff_pending_20260630.csv
  notebook/NSE/data/exports/nse/universe_diff_report_20260630.md
  notebook/NSE/scripts/build_nifty750_universe.py
  src/market/nse/analysis/universe_diff.py
  tests/market/nse/unit/test_universe_diff.py
Due: pyright

feat(nse): universe を 2026-07-21 版に更新、分類ルールを株主数ベースに統一
  notebook/NSE/data/exports/nse/archive/nifty750_universe_20260630.csv
  notebook/NSE/data/exports/nse/archive/nifty750_universe_summary_20260630.md
  notebook/NSE/data/exports/nse/archive/post_cutoff_pending_20260630.csv
  notebook/NSE/data/exports/nse/nifty750_universe_20260721.csv
  notebook/NSE/data/exports/nse/nifty750_universe_summary_20260721.md
  notebook/NSE/data/exports/nse/owner_candidates.csv
  notebook/NSE/data/exports/nse/owner_review_rev1_outside.csv
  notebook/NSE/data/exports/nse/owner_review_sheet.csv
  notebook/NSE/data/exports/nse/owner_review_summary.md
  notebook/NSE/data/exports/nse/universe_diff_report_20260721.md
  notebook/NSE/docs/owner_labeling_methodology.md
  notebook/NSE/scripts/build_owner_review_sheet.py
  notebook/NSE/scripts/persist_and_classify.py
  notebook/NSE/scripts/persist_incremental.py
  notebook/NSE/scripts/persist_rev1_missing.py
  src/market/nse/analysis/owner_classification.py
  tests/market/nse/unit/test_owner_classification.py
Due: pyright

refactor(nse): 分類ルールを一元化、実測でノートブック実装を正規版に採用
  data/config/nse_promoter_classifier.yaml
  notebook/NSE/data/exports/nse/nifty750_universe_20260721.csv
  notebook/NSE/data/exports/nse/owner_candidates.csv
  notebook/NSE/data/exports/nse/owner_review_rev1_outside.csv
  notebook/NSE/data/exports/nse/owner_review_sheet.csv
  notebook/NSE/data/exports/nse/owner_review_summary.md
  notebook/NSE/data/exports/nse/universe_diff_report_20260721.md
  notebook/NSE/docs/owner_labeling_methodology.md
  notebook/NSE/nse_owner_analysis.ipynb
  notebook/NSE/scripts/persist_and_classify.py
  notebook/NSE/scripts/persist_incremental.py
  notebook/NSE/scripts/persist_rev1_missing.py
  src/market/nse/analysis/owner_classification.py
  tests/market/nse/unit/test_owner_classification.py
Due: pyright, marimo-convert

fix(nse): company_name 欠損のリグレッションを修正、欠損0件に改善
  notebook/NSE/data/exports/nse/nifty750_universe_20260720.csv
  notebook/NSE/data/exports/nse/owner_candidates.csv
  notebook/NSE/data/exports/nse/owner_review_rev1_outside.csv
  notebook/NSE/data/exports/nse/owner_review_sheet.csv
  notebook/NSE/data/exports/nse/owner_review_summary.md
  notebook/NSE/data/exports/nse/universe_diff_report_20260720.md
  notebook/NSE/scripts/persist_and_classify.py
  notebook/NSE/scripts/persist_incremental.py
  notebook/NSE/scripts/persist_rev1_missing.py
Due: pyright

Create bloomberg_transcript.py
  notebook/TRANSCRIPT/bloomberg_transcript.py
Due: pyright

Create create_databse.py
  notebook/TRANSCRIPT/create_databse.py
Due: pyright

Create split_database.py
  notebook/TRANSCRIPT/split_database.py
Due: pyright

chore(scripts): Mac からの撤去スクリプトを追加
  scripts/decommission-mac.sh
Due: none

docs(migration): Mac から新PCへの移行手順書を追加
  .env.example
  docs/MIGRATION.md
Due: none

docs(migration): 公開リポジトリのため NAS の接続情報を除去
  docs/MIGRATION.md
Due: none

docs: Mac から新PCへの開発環境移行の準備 (#3973)
  .env.example
  docs/MIGRATION.md
  scripts/decommission-mac.sh
Due: none

fix(security): 追跡ファイルにコミットされた認証情報を除去
  .claude/skills/save-to-graph/guide.md
  .gemini/settings.json
  .gitignore
  .mcp.json.bak
  notebook_sample/tavily-test.ipynb
  notebook_sample/tavily-test.py
Due: pyright, marimo-convert

fix(security): Google OAuth トークンファイルを追跡から除去
  src_sample/token.json
Due: none

chore(security): token.json / credentials.json を .gitignore に追加
  .gitignore
Due: none

fix(scripts): ハードコードされた絶対パスを除去し移植可能にする
  scripts/collect_finance_news_ai.py
  scripts/collect_finance_news_macro.py
  scripts/collect_finance_news_sector.py
  scripts/collect_finance_news_stock.py
  scripts/edinet_merge_to_nas.py
  scripts/sync_edinet_to_nas.sh
  scripts/sync_nas.sh
Due: pyright

fix(utils_core): .env が明示設定された環境変数を上書きしないよう修正
  src/utils_core/config.py
  src/utils_core/logging/config.py
  src/utils_core/settings.py
  tests/utils_core/unit/test_settings.py
Due: pyright

build(docker): 実行環境をコンテナに統一し macOS/Linux/Windows に対応
  Dockerfile
  docker-compose.yml
  docker/crontab
  docker/scheduler-entrypoint.sh
Due: none

docs(migration): 手順書をコンテナ前提に更新し撤去スクリプトを対応
  .env.example
  docs/MIGRATION.md
  scripts/decommission-mac.sh
Due: none

build(deps): torch 系を nlp extra に分離しコンテナから除外可能にする
  pyproject.toml
  uv.lock
Due: none
